<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Evapflex</ShortName>
  <Description>Evapflex - sprzedaż i serwis urządzeń chłodniczych</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://evapflex.pl/index.php/component/search/?Itemid=474&amp;catid=78&amp;id=130&amp;format=opensearch"/>
  <Url type="text/html" template="http://evapflex.pl/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
